page-home {

}

// .title{
//     font-size: 18px;
//     font-weight: bold;
// }

// .col{
//     border: 1px solid black;
//     border-radius: 2px;
// }

// .header{
//     text-align: center;
//     font-size: 15px;
//     font-weight: bold;
// }

// .textbox textarea{
//     border: 1px solid black;
//     border-radius: 2px;
//     height: 100px;
//     padding: 10px;
// }

/* CHALLENGE 5
.header{
    font-size: 18px;
    font-weight: bold;
}

.uploadbox{
    border: 1px solid black;
    border-radius: 3px;
}

.textbox textarea{
    border: 1px solid black;
    border-radius: 2px;
    height: 100px;
    padding: 10px;
}
*/
